#Container{
    border: solid none;
    background-image: url('../../Asset/images/671083.jpg');
    /* background-color: purpl; */
    height: 80vh;
    width: 50vw;
    margin-left: 23rem;
    margin-top: 4rem;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    
}

#Backg{
    /* background-color: black; */
    height: 80vh;
    width: 50vw;
    /* margin-left: 23rem; */
    margin-top: 4rem;
    align-items: center;
    display: flex;
    border: solid none;
    opacity: 0.7;
}

#mainOne{
        background-color:black;
        border: solid none;
        height: 60vh;
        width:20.5vw;
        margin-left:4.5em;
        opacity: 0.7;
}
.header{
    border: solid none;
    font-size: 30px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.inputEmail{
    margin-top:1rem;;
    margin-left: 2rem;
    width: 15rem;
    height: 2rem;
    border-top: none;
    border-left:none ;
    border-right:none;
    border-bottom:solid white;
    background-color: transparent;
    outline: none;
    color: white;
    /* border-bottom:none ; */
    
}
.inputPass{
    margin-top: 2rem;;
    margin-left: 2rem;
    width: 15rem;
    height: 2rem;
    border-top: none;
    border-left:none ;
    border-right:none;
    border-bottom:solid white;
    background-color: transparent;
    outline: none;
    color: white;
    /* border-bottom:none ; */
    
}
#mainTwo{
    width: 20vw;
    height: 60vh;
    background-color: black;
    /* margin-left:rem; */
    /* opacity: 0.7; */
}

#LogButton{
    border-radius:30px;
    /* align-items: center; */
    margin-top: 15rem;
    width: 11rem;
    height: 4rem;
    outline: none;
    margin-left:3rem;
    background-color: white;
    color: black;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}