body{
    background-color:#ededed
    /* opacity: 0.5; */
   
    /* background-size: cover; */
    /* background-repeat: no-repeat; */

}

#container{
    border: solid none;
    background-image: url('../../Asset/images/images.jpeg');
    background-color: purple;
    height: 80vh;
    width: 50vw;
    margin-left: 23rem;
    margin-top: 4rem;
    /* justify-content: space-evenly; */
    /* align-items: center;
    display: flex; */
    /* background-image: url('../../Asset/images/green.jpeg'); */
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    
    
    

}
#backgColour{
    background-color: black;
    height: 80vh;
    width: 50vw;
    /* margin-left: 23rem; */
    margin-top: 4rem;
    align-items: center;
    display: flex;
    border: solid none;
    opacity: 0.7;
    
   
    
}
#main-one{
    background-color:white;
    border: solid none;
    height: 60vh;
    width:20.5vw;
    margin-left:4.5em;
    /* opacity: 0.7; */
    
    

    
}
.Header{
    border: solid none;
    font-size: 30px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:blue;
    
}
.InputName{
    /* margin-top: 1rem;; */
    margin-left: 2rem;
    width: 15rem;
    height: 2rem;
    border-top: none;
    border-left:none ;
    border-right:none;
    border-bottom:solid black;
    outline: none;
    background-color:transparent;
    color: black;
    
    /* border-bottom:none ; */
    
}
.InputEmail{
    margin-top: 1rem;;
    margin-left: 2rem;
    width: 15rem;
    height: 2rem;
    border-top: none;
    border-left:none ;
    border-right:none;
    border-bottom:solid black;
    background-color: transparent;
    outline: none;
    color: black;
    /* border-bottom:none ; */
    
}
.InputPass{
    margin-top: 1rem;;
    margin-left: 2rem;
    width: 15rem;
    height: 2rem;
    border-top: none;
    border-left:none ;
    border-right:none;
    border-bottom:solid black;
    background-color: transparent;
    outline: none;
    color: black;
    /* border-bottom:none ; */
    
}
.ConfirmPass{
    margin-top: 1rem;;
    margin-left: 2rem;
    width: 15rem;
    height: 2rem;
    border-top: none;
    border-left:none ;
    border-right:none;
    border-bottom:solid black;
    background-color:transparent;
    color: black;
    outline: none;
    /* border-bottom:none ; */
    
}
#main-two{
    /* border: solid .5px white; */
    width: 20vw;
    height: 60vh;
    background-color: white;
    /* margin-left:rem; */
    opacity: 0.7;
    
}
.NextButton{
    border-radius:30px;
    /* align-items: center; */
    margin-top: 15rem;
    width: 11rem;
    height: 4rem;
    outline: none;
    margin-left:3rem;
    background-color: blue;
    color: white;
    font-size:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
